{% extends 'nucleo/index.html' %} {% block title %} About Me {% endblock %} {% block background %} {% load static %} {% static 'nucleo/img/about.jpg' %} {% endblock %} {% block header %}
<h1> Acerca de </h1>
<span class="subheading"> Biografía </span> {% endblock %} {% block content %}

<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'nucleo/img/avatar.jpg' %}">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2> Leonardo Almeida </h2>
        <p> Nació en Guayaquil .. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book </p>
        <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
</div>
{% endblock %}